header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    top: 0px;
    z-index: 10;
}
.home{
    text-align: center;
}
.page{
    position: relative;
    padding-top: 4%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 4%;
}
a:link, a:visited{
    text-decoration: none;
    color:rgb(237, 125, 49);
    font-family: Arial;
    font-weight: bold;
    font-size: large;
}
.card {
    margin: 24px;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(237, 125, 49, 0.14), 0 1px 5px 0 rgba(237, 125, 49, 0.12), 0 3px 1px -2px rgba(237, 125, 49, 0.2);
    text-align: center;
}
footer{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 60px;
    bottom: 0px;
    z-index: 9;
}
.power{
    position: relative;
    float: right;
    padding-right: 2%;
}
.results{
    position: relative;
    float: right;
    padding-right: 2%;
}
.help{
    position: relative;
    float: left;
}
.save{
    position: relative;
    float: left;
}
.find{
    text-align: center;
    margin-bottom: 4%;
    padding-top: 5%;
}
.homeTrue{
    text-align: center;
    vertical-align: center;
}
.beFound{
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}
.space{
    padding-top: 100px;
}